// esquema de colores
$smoky-black: #4A4A4A;
$cool-purple:#655395;
$light-grey:#F6F6F6;
$white:#ffffff;


// Font family
$lato: 'Lato', sans-serif;


// Font weight
$light:300;
$regular:400;
$bold:700;
$black:900;


// Font Size
$xx-large:55px;
$x-large:30px;
$large:20px;
$medium:16px;
$small:14px;
