// esquema de colores
$black: #000000;
$celeste:#92DCE5;
$pink:#EF6461;
$white:#ffffff;


// Font family
$montserrat: 'Montserrat', sans-serif;;


// Font weight
$bold:600;
$regular:300;

// Font Size
$x-large:20px;
$large:18px;
$medium:16px;
$small:14px;
