
.experience {
    padding: 5% 8% 5% 8%;
    text-align: left;
    color: $smoky-black;

    &__title {
        margin-top: 3%;
        font-size: $large;
        font-weight: $bold;
    }

    &__subtitle {
        font-size: $medium;
        font-weight: $light;

    }

    &__paragraph {
        margin-top: 3%;
        font-size: $small;
        font-weight: $regular;
        width: 80%;
    }
}

