.hero {
    width: 100%;
    padding: 10% 5% 5% 5%;

    &__wrapper {
        width: 50%;
        float: left;

        &--image {
            width: 60%;
        }
    }

    &__container {
        width: 50%;
        float: right;
        margin-bottom: 5%;
    }

    &__text {
        width: 100%;
        padding: 20%;

        &--title {
            font-size: $xx-large;
            font-weight: $black;
            color: $cool-purple;
        }

        &--subtitle {
            font-size: $x-large;
            font-weight: $bold;
            color: $smoky-black;
        }
    }

}

@media only screen and(max-width: 600px) {
    .hero {
        display: flex;
        flex-direction: column;
        padding:0%;

        &__wrapper {
            padding-top: 100px;
            width: 100%;
            text-align: center;
            justify-content: center;
        }

        &__container {
            width: 100%;
            text-align: center;
            justify-content: center;

        }
    }
}